@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

* {
  transition: all 0.2s ease-in-out;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-card {
    background: rgba(26, 26, 26, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.text-gradient {
    background: linear-gradient(135deg, #81ecff 0%, #10d5ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}